.FormContainer {
	width: 90vw;
	max-width: 500px;
	margin: 0 auto;
}

.AddUserForm {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 4rem 0;
	position: relative;
	background: transparent;
}

.AddUserForm>h2 {
	text-align: left;
	font-size: 20px;
	color: var(--color-blue);
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--color-orange);
	text-transform: uppercase;
}

.AddUserForm>button {
	background-color: var(--color-orange);
	border: none;
	outline: none;
	color: #fff;
	height: 50px;
	padding: 0px 10px;
	margin-top: 20px;
}

.ErrorMessage {
	color: var(--color-orange);
	font-size: 14px;
}
.loader{
	display: flex;
	justify-content: center;
}
Form {
	background-color: #fff;
	padding: 1rem 2rem;
	border-radius: 4px;
	position: relative;
}

.Form h6 {
	color: var(--color-blue);
	padding: 5px;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--color-blue);
}

.InputContainer {
	padding: 8px 12px;
	border-radius: 5px;
	border: 2px solid var(--color-blue);
}

.InputContainer label {
	font-family: inherit;
	margin-right: 1rem;
	display: inline-block;
	font-weight: 700;
	font-size: 13px;
	color: var(--color-blue);
}

.InputContainer input {
	font-family: inherit;
	border: none;
	padding: 5px;
	width: 100%;
	background: transparent;
}

.InputContainer input:focus {
	outline: none;
	background: transparent;
}

.Form button {
	border: none;
	outline: none;
	font-family: inherit;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	background-color: var(--color-orange);
	color: #fff;
	margin-top: 1.5rem;
	width: 100%;
}

.Form button {
	padding: 8px 16px;
}

.Form button:disabled {
	background-color: #999;
}

.Form .Info {
	background-color: var(--color-orange);
}

.InputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	font-family: inherit;
	width: 100%;
}

.InputBox label {
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.InputBoxMain {
	display: flex;
	gap: 10px;
}

.InputBox input {
	outline: none;
	border: none;
	border: 1px solid var(--color-blue);
	border-radius: 3px;
	padding: 1rem;
	font-family: inherit;
	font-size: 16px;
	outline: none;
	margin-bottom: 0;
	width: 100%;
	transition: all 0.4s ease-in-out;
}

.InputBox input:focus {
	outline: none;
	border: 2px solid var(--color-blue);
}

.InputBox input::placeholder {
	color: #bbb;
	font-size: 13px;
}

.InputBox select {
	padding: 1rem;
	border-radius: 4px;
	font-size: 13px;
	border: 1px solid var(--color-blue);
	transition: all 0.4s ease-in-out;
}

.InputBox select:focus {
	border: 2px solid var(--color-blue);
}