.ActionButton {
	padding: 5px !important;
	margin: 0 !important;
	border-radius: 2px !important;
}

.ActionButton:hover {
	background-color: #ccc !important;
	color: white !important;
}
.spinner{
	display: flex;
	justify-content: center;
}